@import "../../styles/breakpoints.scss";

.c-section{
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1170px;
}

.page {
  display: flex;
  min-height: 100vh;
  padding-top: 60px;
  flex-direction: column;
  @media (min-width: $desktop){
    padding: 120px 0 0;
  }
}