@import "../../styles/breakpoints.scss";
@import "../../styles/fonts.scss";

$navbar-height: 64px;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 100;
  transition: box-shadow 0.3s ease;
  border: solid #E9EAEC;
  border-top-width: medium;
  border-right-width: medium;
  border-bottom-width: medium;
  border-left-width: medium;
  border-width: 0 0 1px 0;
  &__container{
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1170px;
    .c-navbar{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: $navbar-height;
      .logo{
        color: hsl(0, 0%, 21%);
        font-size: 1.6rem;
        span:nth-child(1){
          margin-right: 10px;
          padding-right: 10px;
          border: solid #E9EAEC;
          border-width: 0 1px 0 0;
        }
      }
      &__nav{
        display: none;
        &--item{
          margin: 0 15px;
          &:last-child{
            margin-right: 0;
          }
          a{
            color: hsl(0, 0%, 21%);
            font-weight: 500;
            transition: color 0.3s ease;
            &:hover{
              color: hsl(204, 86%, 53%);
            }
          }
        }
      }
      &__toggle{
        position: absolute;
        top: 0;
        right: 0px;
        width: 59px;
        height: $navbar-height;
        padding: 26px 20px;
        border: solid #E9EAEC;
        border-width: 0 0 0 1px;
        border-radius: 0;
        cursor: pointer;
        &--icon{
          margin: 3px 0;
          vertical-align: middle;
        }
        &::before, &::after, span{
          content: '';
          display: block;
          width: 18px;
          height: 2px;
          background: #808080;
          transition: transform .2s, width .2s, -webkit-transform .2s;
        }
        &[aria-expanded="true"] span {
          transform: rotate(-45deg);
        }
        &[aria-expanded="true"]:after{
          transform: translateY(-5px) rotate(45deg);
        }
        &[aria-expanded="true"]:before{
          transform: translateY(5px) rotate(45deg);
        }
      }
    }
  }
  &__collapse{
    position: fixed;
    width: 100%;
    height: 0px;
    top: $navbar-height;
    left: 0;
    background: #fff;
    display: block;
    transition: 0.56s cubic-bezier(0.52, 0.16, 0.24, 1);
    opacity: 0;
    pointer-events: none;
    overflow-x: hidden;
    overflow-y: visible;
    .wrapper{
      padding:15px;
      width: 100%;
      height: 100%;
      .mobile-nav{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &__items{
          margin-bottom: 20px;
          a{
            color: hsl(0, 0%, 21%);
            font-weight: 500;
            font-size: 1.8rem;
            padding-top: 10px;
            padding-bottom: 10px;
            font-family: $serif;
          }
        }
      }
    }
    &.show{
      opacity: 1;
      cursor: pointer;
      pointer-events: auto;
      height: calc(100% - 64px);
      z-index: 1;
      border-top: 1px solid #E9EAEC;
    }
  }
  @media (min-width: $mobileM){
    &__collapse{
      .wrapper{
        .mobile-nav{
          &__items a{
            font-size: 2.2rem;
          }
        }
      }
    }
  }
  @media (min-width: $mobileL){
    &__collapse{
      .wrapper{
        .mobile-nav{
          &__items a{
            font-size: 3rem;
          }
        }
      }
    }
  }
  @media (min-width: $tablet){
    &__collapse{
      .wrapper{
        .mobile-nav{
          &__items a{
            font-size: 4rem;
          }
        }
      }
    }
  }
  @media (min-width: $desktop){
    &__container {
      .c-navbar{
        min-height: 70px;
        &__nav{
          display: flex;
        }
        &__toggle{
          display: none;
        }
      }
    }
    &__collapse{
      display: none;
    }
  }
}
